@import url("https://fonts.googleapis.com/css2?family=Bangers&family=DynaPuff:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --textColor: white;
  --emphasisColor: rgb(32, 178, 170, 0.9);
  --darkEmphasis: #0a2869;
  --backgroundColor: #01d3ff;
  --lightBackground: #d7faf7;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    var(--backgroundColor),
    var(--darkEmphasis)
  );
  background-attachment: fixed;
}

h1 {
  color: var(--emphasisColor);
  text-align: center;
  font-family: "DynaPuff" !important;
  -webkit-text-stroke: white 1px;
}

h2 {
  font-family: "Karla";
  text-align: left;
}

h3 {
  font-family: "DynaPuff";
}

a,
a:visited {
  color: var(--emphasisColor) !important;
}

div {
  color: var(--textColor);
  text-align: center;
}

#kuva4 {
  border-radius: 20% 0;
  margin: auto;
}

#kuva5 {
  border-radius: 0 20%;
  margin: auto;
}
.card-img-top {
  width: 100%;
}

#karuselli,
#grid,
#kortit,
#haitari,
#videot {
  margin-top: 4rem;
}

/* Navigaatiot */
.navbar,
.nav-link.active {
  background-color: var(--darkEmphasis) !important;
}

.nav-item {
  background-color: var(--darkEmphasis);
}

.navbar-brand {
  color: var(--emphasisColor) !important;
  font-family: "Bangers" !important;
  font-size: 25px !important;
}

.navbar-text {
  color: var(--emphasisColor) !important;
  font-family: "Karla" !important;
}

.navbar-nav .nav-link {
  color: var(--emphasisColor) !important;
}

.nav-item.active .nav-link {
  color: var(--textColor) !important;
}

.nav-link.active {
  color: var(--textColor) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='lightseagreen' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: var(--emphasisColor) !important;
}

/* Kortit & haitari */
.card-body,
.accordion-body {
  background-color: var(--lightBackground) !important;
  color: var(--darkEmphasis) !important;
}

.accordion-button {
  background-color: var(--darkEmphasis) !important;
  color: var(--emphasisColor) !important;
}

/* Taulukko */
#taulukko {
  margin-top: 2rem;
}

.table,
tr,
th,
td {
  background: none !important;
  color: var(--textColor) !important;
}

/* Lomake */
#lomake {
  margin: 4rem auto;
}

form {
  text-align: left;
}

label.muoto {
  display: inline-block;
  width: 6em;
  text-align: right;
  vertical-align: top;
}

#valikko,
#nimi,
#sposti,
#viesti {
  width: 50%;
}
